src/main/mule/mule-cicd-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3a312c2c-2db9-4fa2-895c-cf1b914e1085" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="bed26e1a-0d55-49cf-9061-a6662dea1fc3" >
		<db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="mule-cicd-demoFlow" doc:id="2d7736fc-ca3e-41ed-8685-4011d54a4663" >
		<http:listener doc:name="Listener" doc:id="245c5459-4c7d-4892-86d1-af65e5da3a92" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="68680e39-c726-4a2d-a3b8-52abca005457" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american order by price]]></db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="188b5644-2916-4caf-ba1a-780feda7d474" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="mule-cicd-demoFlow1" doc:id="261948af-4d53-4696-b548-8d534e002674" >
		<http:listener doc:name="Listener" doc:id="9f34f120-a599-4a07-88ed-b2d4f8342cbb" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="7a36c5c0-dbc7-4483-a2e1-dc92441dde28" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from american where id =:fid]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	fid: attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="3f8102e8-d204-48c2-9f0a-195f1d329192" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
